<div id="carousel-container" class="carousel">
    {{#each showcase}}
        <div class="carousel-item" tabindex="0" onclick="location.href='/event/{{this._id}}'" 
            onkeydown="if(event.key === 'Enter' || event.key === ' ') { location.href='/event/{{this._id}}'}"
            role="link" aria-describedby="{{this.artists}}">
            <h3>{{this.date}}<br>
            {{#each this.artists}}
                {{#if @first}}
                    {{this}}
                {{else}}
                    / {{this}}
                {{/if}}
            {{/each}}<br></h3>
            <p>{{this.place}}<br>
            {{this.city}}</p>
            <img src="./images/bandimages/{{this.imgSrc}}" alt="Tapahtuman mainoskuva">
        </div>
    {{/each}}
    
</div> 
