{{events_info}} <br>

{{#each events}}
    <a href="/event/{{this._id}}" class="card-link" role="link" aria-label="Event page"> 
        <div class="event_card">
            <div class="event_card_image-container">
                <img class="bandImage" src="./images/bandimages/{{this.imgSrc}}" alt="Band">
            </div>
            <section class="eventInformation">
                <h3 class="artistName">
                    <!--Shows the band names in a row, separated by a / -->
                    {{#each this.artists}}
                        {{#if @first}}
                            {{this}}
                        {{else}}
                            / {{this}}
                        {{/if}}
                    {{/each}}
                </h3>
                <p>{{this.date}}</p>
                <p>{{this.place}}, {{this.city}}</p>
            </section>
            <section class="enrollmentCount">
                <button aria-label="Ilmoittaudu keikalle" class="registerToEvent" id="{{this._id}}" type="button">Ilmoittaudu Keikalle</button>
                <dt><label for="enrollment_count">Ilmoittautuneita</label></dt>
                <dd id="enrolment_count">{{#if this.usersRegistered}}{{this.usersRegistered.length}}{{else}}0{{/if}}</dd>
            </section>    
        </div>
    </a>
{{/each}}  

