{{#if friends}}
    <div id="friends-container">
        {{#each friends}}
            <div class="friend-card">
                <div class="friend-img-container">
                    <img src="../images/profileimages/{{this.imageSrc}}" alt="{{this.friends}} profiilikuva">
                </div>
                <div class="friend-details">
                    <h3>{{this.alias}}</h3>
                    <p>Paikkakunta: {{this.city}}</p>
                    <p>Sukupuoli: {{this.gender}}</p>
                    <p>Ik채: {{this.age}}</p>
                </div>
                <div class="friend-connect">
                    <button type="button" class="sign-out-btn">Ota yhteytt채</button>
                    <div id="sendEmail">
                        <form action="/sendEmail" method="post">
                            <label for="emailMessage">Kirjoita viesti:</label>
                            <p class="messageContainer">
                                <textarea id="emailMessage" name="emailMessage" rows="5" cols="25" style="resize: none;"></textarea>
                            </p>
                            <input type="hidden" name="emailAddress" value="{{this.email}}">
                            <input type="hidden" name="sendTo" value="{{this.alias}}">
                            <input type="hidden" name="eventId" value="{{../concert._id}}">
                            <button type="submit" class="sign-out-btn">L채het채</button>
                        </form>
                    </div>
                </div>
            </div>
        {{/each}}  
    </div>    
{{/if}}