{{events_info}} <br>

{{#each events}}
    <div class="event_card">
        <img class="bandImage" src="./images/bandimages/{{this.imgSrc}}" alt="Band">
        <section class="eventInformation">
            <h3 class="artistName">
                <!--Shows the band names in a row, separated by a / -->
                {{#each this.artists}}
                    {{#if @first}}
                        {{this}}
                    {{else}}
                        / {{this}}
                    {{/if}}
                {{/each}}
            </h3>
            <p>{{this.date}}</p>
            <p>{{this.place}}, {{this.city}}</p>
        </section>
        <section class="enrollmentCount">
            <button aria-label="Ilmoittaudu keikalle" onclick="registerUserToConcert()" type="button">Ilmoittaudu Keikalle</button>
            <dt><label for="enrollment_count">Ilmoittautuneita</label></dt>
            <dd id="enrolment_count">{{#if this.usersRegistered}}{{this.usersRegistered.length}}{{else}}0{{/if}}</dd>
        </section>        
    </div>
{{/each}}  