{{#each events}}
    
    <div class="event_card">

        <a href="/event/{{this._id}}" class="card-link" role="link" aria-describedby="{{this.artists}}">
            <div class="event_card_image-container">
                <img class="bandImage" src="./images/bandimages/{{this.imgSrc}}" alt="Tapahtuman {{this.artists}} mainoskuva">
            </div>

            <!-- Event information -->
            <div class="eventInformation" role="region" aria-label="Tapahtuman tiedot">
                <h3 class="artistName">
                    <!--Shows the band names in a row, separated by a / -->
                    {{#each this.artists}}
                        {{#if @first}}
                            {{this}}
                        {{else}}
                            / {{this}}
                        {{/if}}
                    {{/each}}
                </h3>
                <p>{{this.date}}</p>
                <p>{{this.place}}, {{this.city}}</p>
            </div>
        </a>
        <!-- Enrolment area -->
        <div class="enrollmentCount" role="region" aria-label="Ilmoittautuminen">
            {{#if userLoggedIn}}
                {{#if userRegisteredToEvent}}
                    <button aria-label="Poista ilmoittautuminen" class="unRegisterFromEvent" id="delete_{{this._id}}" type="button">Poista Ilmoittautuminen</button>
                {{else}}
                    <button aria-label="Ilmoittaudu keikalle" class="registerToEvent" id="add_{{this._id}}" type="button">Ilmoittaudu Keikalle</button>
                {{/if}}
            {{else}}
                <p class="notLoggedInEventInfo">Sinun täytyy olla kirjautunut sisään ilmoittautuaksesi keikalle</p>
            {{/if}}
            <dt><h4 id="enrolment-label">Ilmoittautuneita</h4></dt>
            <dd id="enrolment_count" aria-describedby="enrolment-label">{{#if this.usersRegistered}}{{this.usersRegistered.length}}{{else}}0{{/if}}</dd>
        </div>

    </div>
{{/each}}  

