
    {{>header}} 

<article class="top_section">
    <section id="error-box" aria-live="polite" role="alert" {{#if info}}style="display:block; border: 2px solid red;"{{else if infoArray}}style="display:block; border: 2px solid red;"{{else}}style="display: none;"{{/if}}>{{info}}{{#each infoArray}} <p> {{this}} </p> {{/each}}</section>
    <div class="event_container">
        <div class="event_band_image-container">
            <img class="bandImage" src="/images/bandimages/{{concert.imgSrc}}" alt="Band">
        </div>
        <section class="event_info">
            <h1 class="artistName">
                <!--Shows the band names in a row, separated by a / -->
                {{#each concert.artists}}
                    {{#if @first}}
                        {{this}}
                    {{else}}
                        / {{this}}
                    {{/if}}
                {{/each}}
            </h1>
            <p>Tähän päivämäärä</p>
            <p>{{concert.place}}, {{concert.city}}</p>
        </section>
        <section class="enrollmentCount">
            <dt><label for="enrollment_count">Ilmoittautuneita</label></dt>
            <dd id="enrolment_count">xxx</dd>
        </section>        
      
    </div>
</article>

<section id="find_friend" class="find_friend dark_bg">
    <section id="friend_search">
        <h2>Hae kaveria keikalle</h2>
        {{>friendsearchform}}
    </section>

    <!-- Events from the database -->
    <section id="event_search_results" class="event_search_results">
        Kaveriehdotuksia tähän
        {{#if events}}
    
            {{events_info}} <br>

            {{#each events}}
                <div class="event_card">
                    <img class="bandImage" src="./images/bandimages/rock_band_01.jpg" alt="Band">
                    <section class="eventInformation">
                        <h3 class="artistName">
                            <!--Shows the band names in a row, separated by a / -->
                            {{#each this.artists}}
                                {{#if @first}}
                                    {{this}}
                                {{else}}
                                    / {{this}}
                                {{/if}}
                            {{/each}}
                        </h3>
                        <p>Tähän päivämäärä</p>
                        <p>{{this.place}}, {{this.city}}</p>
                    </section>
                    <section class="enrollmentCount">
                        <dt><label for="enrollment_count">Ilmoittautuneita</label></dt>
                        <dd id="enrolment_count">xxx</dd>
                    </section>        
                </div>
            {{/each}}       
        
        {{/if}}
    </section>
</section>

<!-- Testilinkki -->
<a href="/user">user</a>

    {{>footer}}


