{{>header}} 
<main>
    <!-- Intro & info box -->
    <section class="top_section">

        <section id="error-box" aria-live="polite" role="alert" {{#if info}}style="display:block; border: 2px solid red;"{{else if infoArray}}style="display:block; border: 2px solid red;"{{else}}style="display: none;"{{/if}}>
            {{info}}
            {{#each infoArray}} 
                <p> {{this}} </p> 
            {{/each}}
            <button type="button" id="close-info-btn" onclick="closeInfoBox()">&#10006;</button>
        </section>

        <h1>Keikalle</h1>
        <p class="content_width">Tervetuloa Keikalle! Selaa tapahtumia alta ja valkkaa mieleisesi kaveri mukaan.</p>
        <p class="content_width">Voit hakea tapahtumia esiintyjän, paikkakunnan tai paikan perusteella. Valitsemalla haluamasi keikan pääset näkemään 
            mukaan jo ilmoittautuneet kaverit ja pyytämään heitä mukaasi keikalle.</p>

        {{#unless alias}}
            <section role="region" aria-label="Sign In / Sign Up">
                <button type="button" class="signIn_button" id="openLoginFormButton" onClick="toggleSignInForm()">Kirjaudu</button>
                <button type="button" class="signIn_button" id="openSignupFormButton" onClick="toggleSignUpForm()">Rekisteröidy</button>
            </section>
            {{>loginform}}
            {{>signupform}}
        {{/unless}}

    </section>

    <!-- Coming soon -->
    <section aria-labelledby="soonToCome-heading" class="carousel_area dark_bg">
        <h2 id="soonToCome_heading">Tapahtuu pian</h2>
        {{>comingsoon}}
    </section>

    <!-- Event Search -->
    <section id="event_search" class="event_search">
        <h2>Hae tapahtumia</h2>
        {{>eventsearchform}}

        <!-- Events from the database -->
        <section id="event_search_results" class="event_search_results">
            {{#if events}}
        
                {{events_info}} <br>

                {{#each events}}
                    <div class="event_card">
                        <img class="bandImage" src="./images/bandimages/rock_band_01.jpg" alt="Band">
                        <section class="eventInformation">
                            <h3 class="artistName">
                                <!--Shows the band names in a row, separated by a / -->
                                {{#each this.artists}}
                                    {{#if @first}}
                                        {{this}}
                                    {{else}}
                                        / {{this}}
                                    {{/if}}
                                {{/each}}
                            </h3>
                            <p>Tähän päivämäärä</p>
                            <p>{{this.place}}, {{this.city}}</p>
                        </section>
                        <section class="enrollmentCount">
                            <dt><label for="enrollment_count">Ilmoittautuneita</label></dt>
                            <dd id="enrolment_count">xxx</dd>
                        </section>        
                    </div>
                {{/each}}       
            
            {{/if}}
        </section>
    </section>

</main>

{{>footer}}


