
    {{>header}} 

<article class="top_section">
    <section id="error-box" aria-live="polite" role="alert" {{#if info}}style="display:block; border: 2px solid red;"{{else}}style="display: none;"{{/if}}>{{info}}</section>
    <h1>Keikalle</h1>
    <p class="content_width">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam non diam malesuada, scelerisque arcu at, consectetur lorem. Proin sollicitudin elit id ante ornare sagittis. Ut est massa, hendrerit vel lorem id, ultrices aliquet ipsum. Sed sem orci, consequat eu maximus eu, mattis et urna. Nunc non lorem auctor, sodales arcu eu, vestibulum mauris. Morbi elit sapien, posuere ac eros non, feugiat interdum ex. Cras tincidunt est nibh, vitae pellentesque nulla pharetra et. Pellentesque erat velit, interdum eget justo at, viverra ultrices ligula. Etiam quis facilisis augue. Sed molestie suscipit urna in posuere.</p>
    <section role="region" aria-label="Sign In / Sign Up">
        <button type="button" class="signIn_button" id="openLoginFormButton" onClick="toggleSignInForm()">Kirjaudu</button>
        <button type="button" class="signIn_button" id="openSignupFormButton" onClick="toggleSignUpForm()">Rekisteröidy</button>
    </section>
    {{>loginform}}
    {{>signupform}}
    <section id="signIn_form_section">
        Hakulomake tähän
    </section>
</article>

<section aria-labelledby="soonToCome-heading" class="carousel_area dark_bg">
    <h2 id="soonToCome_heading">Tapahtuu pian</h2>
    <div role="region" aria-label="Event Carousel" class="carousel">
        Tähän korttikaruselli tulevista tapahtumista
    </div>
</section>

<section id="event_search" class="event_search">
    <h2>Hae tapahtumia</h2>
    <form id="event_search_form" role="search" aria-label="Event search">
        <p>
            <label for="search_performer">Esiintyjä</label>
            <input type="text" id="search_performer" name="search_performer">
        </p>
        <p>
            <label for="search_city">Paikkakunta </label>
            <input type="text" id="search_city" name="search_city">
        </p>
        <p>
            <label for="search_place" name="search_place">Paikka</label>
            <input type="text" id="search_place" name="search_place">
        </p>
    </form>
    <section id="event_search_results" class="event_search_results">
        <div>{{#if events}}
    
            {{events_info}} <br>

            {{#each events}}
                <div class="card">
                    <img class="bandImage" src="./images/bandimages/{{this.image}}" alt="Band">
                    <section class="eventInformation">
                        <div class="artistName">
                            <!--Shows the band names in a row, separated by a / -->
                            {{#each this.artists}}
                                {{#if @first}}
                                    {{this}}
                                {{else}}
                                    / {{this}}
                                {{/if}}
                            {{/each}}
                        </div>
                        <p>Tähän päivämäärä</p>
                        <p>Paikkakunta: {{this.city}}</p>
                    </section>
                    <section class="enrollmentCount">
                        Ilmoittautuneita xxx
                    </section>        
                </div>
            {{/each}}       
        
        {{/if}}
    </section>
</section>

<!-- Testilinkki -->
<a href="/user">user</a>

    {{>footer}}

