{{> header}}
<h1>Oma profiilini</h1>

<main class="white_card" id="profile-information">
    <section id="profile-pic">

        <img src="../images/{{profile.imageSrc}}" alt="" style="background-color: white; padding: 15px">
        <form action="/profile/upload/profilepic" method="post" id="uploadProfilePictureForm" enctype="multipart/form-data">
            <label for="uploadProfilePicture">
                <input type="file" name="uploadProfilePicture" id="uploadProfilePicture" style="display: none;">
                <button type="button" class="submit-login-button" id="selectPictureToUpload">Lataa toinen kuva</button>
            </label> 
            <input type="hidden" name="userIdForPictureUpload" id="userIdForPictureUpload" value="{{profile._id}}">
        </form>
        
        <button class="submit-login-button" style="background-color: red;">Poista kuva</button>
    </section>
    <section id="profile-details">
        <form action="/profile" method="post" enctype="x-www-form-urlencoded">
            <input type="hidden" name="id" id="id" value="{{profile._id}}">
            <p>
                <label for="firstName" class="loginform-label">Etunimi</label>
                <input type="text" class="loginform-input" name="firstName" id="firstName" value="{{profile.firstName}}">
            </p>
            <p>
                <label for="lastName" class="loginform-label">Sukunimi</label>
                <input type="text" class="loginform-input" name="lastName" id="lastName" value="{{profile.lastName}}">
            </p>
            <p>
                <label for="alias" class="loginform-label">Nimimerkki</label>
                <input type="text" class="loginform-input" name="alias" id="alias" value="{{profile.alias}}">
            </p>
            <p>
                <label for="email" class="loginform-label">Sähköposti</label>
                <input type="text" class="loginform-input" name="email" id="email" value="{{profile.email}}">
            </p>
            <p>
                <label for="city" class="loginform-label">Paikkakunta</label>
                <input type="text" class="loginform-input" name="city" id="city" value="{{profile.city}}">
            </p>
            <p>
                <label for="gender">Sukupuoli</label>
                <select class="loginform-input" name="gender" id="gender" style="float:right;">
                    <option value="ei valittu" {{#if (isEqual profile.gender "ei valittu")}} selected {{/if}}>ei valittu</option>
                    <option value="nainen" {{#if (isEqual profile.gender "nainen")}} selected {{/if}}>nainen</option>
                    <option value="mies" {{#if (isEqual profile.gender "mies")}} selected {{/if}}>mies</option>
                    <option value="muu" {{#if (isEqual profile.gender "muu")}} selected {{/if}}>muu</option>
                </select>
            </p>
            <p>
                <label for="birthYear" class="loginform-label">Syntymävuosi</label>
                <input type="number" class="loginform-input" name="birthYear" id="birthYear" value="{{profile.birthYear}}">
            </p>

            <p>
                <button type="submit" class="submit-login-button">Tallenna muutokset</button>
            </p>
        </form>
    </section>
    <section id="delete-profile">
        <form action="/delete-profile" method="post" enctype="x-www-form-urlencoded">
            <input type="hidden" name="id" id="id" value="{{profile._id}}">
            <button type="submit" class="submit-login-button" style="background-color: red;">Poista profiili</button>
        </form>
    </section>
</main>

{{> footer}}