{{> header}}

<main class="top_section">
    <h1>Oma profiilini</h1>
    <section id="error-box" aria-live="polite" role="alert" {{#if info}}style="display:block; border: 2px solid red;"{{else if infoArray}}style="display:block; border: 2px solid red;"{{else}}style="display: none;"{{/if}}></section>
    
    <div id="profile-container">

        <!-- Profile image -->
        <section id="profile-pic-section">
            <img src="./images/profileimages/{{profile.imageSrc}}" alt="lataamasi profiilikuva" id="profilePicture">
            <form action="../profile/upload/profilepic" method="post" id="uploadProfilePictureForm" enctype="multipart/form-data">
                <label for="uploadProfilePicture">
                    <input type="file" name="uploadProfilePicture" id="uploadProfilePicture" style="display: none;">
                    <button type="button" class="sign-out-btn" id="selectPictureToUpload">Lataa kuva</button>
                </label> 
                <input type="hidden" name="userIdForPictureUpload" id="userIdForPictureUpload" value="{{profile._id}}">
                {{#unless (isEqual profile.imageSrc "kale.png") }}
                <button class="sign-out-btn red-btn" onclick="removeProfilePicture()">Poista kuva</button>
                {{/unless}}
            </form>
        </section>

        <!-- Profile details -->
        <section id="profile-details">
            <p>Pakolliset tiedot on merkitty tähdellä (*)</p>
            <form action="/profile" method="post" enctype="x-www-form-urlencoded">
                <input type="hidden" name="id" id="update-id" value="{{profile._id}}">
                <p class="input_container">
                    <label for="firstName" class="loginform-label">Etunimi</label>
                    <input type="text" class="loginform-input" name="firstName" id="update-firstName" value="{{profile.firstName}}">
                </p>
                <p class="input_container">
                    <label for="lastName" class="loginform-label">Sukunimi</label>
                    <input type="text" class="loginform-input" name="lastName" id="update-lastName" value="{{profile.lastName}}">
                </p>
                <p class="input_container">
                    <label for="alias" class="loginform-label">Nimimerkki*</label>
                    <input type="text" class="loginform-input" name="alias" id="update-alias" value="{{profile.alias}}" required="true">
                    <span role="text" aria-label="Instructions for filling out the form" class="validation_info" id="update-alias-info">Nimimerkin tulisi olla 3-20 merkkiä pitkä, ei erikoismerkkejä</span>
                </p>
                <p class="input_container">
                    <label for="email" class="loginform-label">Sähköposti*</label>
                    <input type="text" class="loginform-input" name="email" id="update-email" value="{{profile.email}}" required="true">
                    <span role="text" aria-label="Instructions for filling out the form" class="validation_info" id="update-email-info"></span>
                </p>
                <p class="input_container">
                    <label for="city" class="loginform-label">Paikkakunta</label>
                    <input type="text" class="loginform-input" name="city" id="update-city" value="{{profile.city}}">
                </p>
                <p class="input_container">
                    <label for="gender" class="loginform-label">Sukupuoli</label>
                    <select class="loginform-input" name="gender" id="update-gender">
                        <option value="ei valittu" {{#if (isEqual profile.gender "ei valittu")}} selected {{/if}}>ei valittu</option>
                        <option value="nainen" {{#if (isEqual profile.gender "nainen")}} selected {{/if}}>nainen</option>
                        <option value="mies" {{#if (isEqual profile.gender "mies")}} selected {{/if}}>mies</option>
                        <option value="muu" {{#if (isEqual profile.gender "muu")}} selected {{/if}}>muu</option>
                    </select>
                </p>
                <p class="input_container">
                    <label for="birthYear" class="loginform-label">Syntymävuosi</label>
                    <input type="number" class="loginform-input" name="birthYear" id="update-birthYear" value="{{profile.birthYear}}" min="1904" max="2024">
                </p>

                <p class="input_container">
                    <button type="submit" class="sign-out-btn" id="update-button" style="display:none;">Tallenna muutokset</button>
                </p>
            </form>
        </section>
    </div>

    <!-- Delete profile -->
    <section id="delete-profile">
        <button type="button" class="sign-out-btn red-btn" id="delete_btn">Poista profiili</button>
        <form action="/delete-profile" method="post" enctype="x-www-form-urlencoded" id="confirm_delete">
            <p>Oletko aivan varma, että haluat poistaa profiilisi?</p>
            <input type="hidden" name="id" id="id" value="{{profile._id}}">
            <button type="button" class="sign-out-btn" id="cancel_delete">Peruuta!</button>
            <button type="submit" class="sign-out-btn red-btn" id="delete-profile">Kyllä, poista profiili</button>
        </form>
    </section>

</main>

{{> footer}}