
<h1>Käyttäjän hakemisen testaus tietokannasta</h1>

<!-- Testilinkki -->
<a href="/">etusivulle</a>

<div>{{#if users}}
    
    {{info}}

    {{#each users}}
    <p>Alias: {{this.alias}}</p>
    <p>Sähköposti: {{this.email}}</p>
    {{/each}}       
    
    {{else}}
    <p>Käyttäjää ei löytynyt, tai salasana oli väärä (testikäytössä)</p>
    {{/if}}

    {{>signupform}}

    {{info2}}
</div>
